src/main/resources/hr.wsdl

<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                  xmlns:schema="http://mycompany.com/hr/schemas"
                  xmlns:tns="http://mycompany.com/hr/definitions"
                  targetNamespace="http://mycompany.com/hr/definitions">
    <wsdl:types>
        <xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
                    targetNamespace="http://mycompany.com/hr/schemas"
                   xmlns:hr="http://mycompany.com/hr/schemas">
            <xs:element name="HolidayRequest">
                <xs:complexType>
                    <xs:all>
                        <xs:element name="Holiday" type="hr:HolidayType"/>
                        <xs:element name="Employee" type="hr:EmployeeType"/>
                    </xs:all>
                </xs:complexType>
            </xs:element>
            <xs:complexType name="HolidayType">
                <xs:sequence>
                    <xs:element name="StartDate" type="xs:date"/>
                    <xs:element name="EndDate" type="xs:date"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="EmployeeType">
                <xs:sequence>
                    <xs:element name="Number" type="xs:integer"/>
                    <xs:element name="FirstName" type="xs:string"/>
                    <xs:element name="LastName" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
        </xs:schema>
    </wsdl:types>
    <wsdl:message name="HolidayRequest">
        <wsdl:part element="schema:HolidayRequest" name="HolidayRequest"/>
    </wsdl:message>
    <wsdl:portType name="HumanResource">
        <wsdl:operation name="Holiday">
            <wsdl:input message="tns:HolidayRequest" name="HolidayRequest"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="HumanResourceBinding" type="tns:HumanResource">
        <soap:binding style="document"
                      transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="Holiday">
            <soap:operation soapAction="http://mycompany.com/RequestHoliday"/>
            <wsdl:input name="HolidayRequest">
                <soap:body use="literal"/>
            </wsdl:input>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="HumanResourceService">
        <wsdl:port binding="tns:HumanResourceBinding" name="HumanResourcePort">
            <soap:address location="http://localhost:8080/holidayService"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>